<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Marvel App</title>
    <link rel="stylesheet" href="/css/stylesForMarvelAPI.css">
</head>

<body>
    <div class="container">
        <div class="input-container">
            <label for="input-box"></label><input type="text" class="input" value="iron man" id="input-box" />
            <button class="button" id="submit-button">Submit</button>
        </div>
        <div class="list"></div>
        <div class="display-container" id="show-container"></div>
    </div>

    <script src="/javascript/api-data.js"></script>
    <script src="/javascript/script-marvel.js"></script>
</body>
</html>